{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="{% static 'frontend/assets/icon-BDpIAbc1.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[PageName] | Arakkha Job Connect</title>

    <script type="module"  crossorigin src="{% static "frontend/assets/index-WodpJjYu.js" %}"></script>
    <link rel="stylesheet" crossorigin href="{% static "frontend/assets/index-CCCq7KZt.css" %}">



  <body>
    <div id="root">
    </div>
  </body>
</html>

